.temp{
    background-color: #f0f0f0;
    color: #333;

    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titleTemp {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    
}

h1{
    margin: 5px;
}

